body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #d4d4d4;
}

.input_hide {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}


header {
    text-align: center;
    width: 100%;
    font-size: 200%;
    font-weight: bold;
    padding: 30px 0;
    margin: 0 0 -15px 0;
    /*outline: 1px black solid;*/
}

.main_wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;

    justify-content: space-between;
    flex-wrap: nowrap;
}

.breed, .images_wrapper, .raiting_wrapper {
    margin: 0 10px;
}


/*INPUTS FOR BREED*/
.img_item {
    transition: opacity 1s ease;
}

/*1---------------------------------------------------------------------------------------------*/
.input_for_breed:nth-of-type(1):checked ~ .main_wrapper .images_wrapper .img_item[class~="abissinskay"] {
    opacity: 1;
}

.input_for_breed:nth-of-type(1):checked ~ .main_wrapper .breed .label_for_breed:nth-of-type(1) {
    background-color: #9c9c9c;
}

.input_for_breed:nth-of-type(1):checked ~ .main_wrapper .images_wrapper .img_item {
    opacity: 0.5;
}

/*2---------------------------------------------------------------------------------------------*/
.input_for_breed:nth-of-type(2):checked ~ .main_wrapper .images_wrapper .img_item[class~="british"] {
    opacity: 1;
}

.input_for_breed:nth-of-type(2):checked ~ .main_wrapper .breed .label_for_breed:nth-of-type(2) {
    background-color: #9c9c9c;
}

.input_for_breed:nth-of-type(2):checked ~ .main_wrapper .images_wrapper .img_item {
    opacity: 0.5;
}

/*3---------------------------------------------------------------------------------------------*/
.input_for_breed:nth-of-type(3):checked ~ .main_wrapper .images_wrapper .img_item[class~="russian_blue"] {
    opacity: 1;
}

.input_for_breed:nth-of-type(3):checked ~ .main_wrapper .breed .label_for_breed:nth-of-type(3) {
    background-color: #9c9c9c;
}

.input_for_breed:nth-of-type(3):checked ~ .main_wrapper .images_wrapper .img_item {
    opacity: 0.5;
}

/*4---------------------------------------------------------------------------------------------*/
.input_for_breed:nth-of-type(4):checked ~ .main_wrapper .images_wrapper .img_item[class~="siamsky"] {
    opacity: 1;
}

.input_for_breed:nth-of-type(4):checked ~ .main_wrapper .breed .label_for_breed:nth-of-type(4) {
    background-color: #9c9c9c;
}

.input_for_breed:nth-of-type(4):checked ~ .main_wrapper .images_wrapper .img_item {
    opacity: 0.5;
}

.input_for_breed:nth-of-type(5):checked ~ .main_wrapper .breed .label_for_breed:nth-of-type(5) {
    background-color: #9c9c9c;
}

/*Three columns*/
/*BREED*/

.breed {
    flex: 20%;
    justify-self: left;

    border-radius: 2px;

    display: flex;
    flex-direction: column;
    align-content: center;

    background-color: #adadad;
}


.label_for_breed {
    /*outline: 1px black solid;*/
    border-top: 1px solid rgba(0, 0, 0, 0.75);
    transition: background-color .5s ease;
}

.breed_wrapper {
    margin: 10px 0 0 0;
    padding: 10px 0 10px 4%;

    text-align: left;
    font-size: 1.4em;
    /*outline: 1px black solid;*/
}

/*Border for breeds texts*/
.breed_wrapper:nth-of-type(1) {
    margin: 5px 0 0 0;
}

.label_for_breed:nth-of-type(1) {
    border-top: none;
}

/*Switch the breeds*/


/*IMAGES*/

.images_wrapper {
    /*background-color: blue;*/
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    grid-gap: 0.5em;

    /*outline: 1px solid black;*/
    flex: 60%;
    justify-self: center;
}

.img_item_wrapper {
    opacity: 1;
    /*outline: 1px solid black;*/
    border-radius: 2px;
    object-fit: cover;
    background-color: #999999;

}

.img_item {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

/*DETAILS*/
.img_item_wrapper aside {
    font-size: 2em;
    background-color: rgba(148, 148, 148, 0.55);
    border-radius: 0 10px 10px 0;
    display: inline-block;

    font-weight: lighter;
    opacity: 0;

    -webkit-transition: opacity .5s ease, font-weight 2s linear;
    -moz-transition: opacity .5s ease, font-weight 2s linear;
    -o-transition: opacity .5s ease, font-weight 2s linear;
    transition: opacity .5s ease, font-weight 2s linear;

    padding-right: 10px;
    /*max-width: 350px;*/
    position: relative;
    top: -40%;
}


/*HOVERING IMAGE ITEMS*/
.img_item_wrapper:hover {
    cursor: pointer;
}

.img_item_wrapper:hover aside {
    cursor: pointer;

    font-weight: normal;
    opacity: 1;

}


/*even second*/
.img_item_wrapper:nth-child(8n + 2) {
    grid-column: auto /span 2;
}

/*even sixth*/
.img_item_wrapper:nth-child(8n + 6) {
    grid-column: auto /span 2;
}

/*even eighth elem*/
.img_item_wrapper:nth-child(8n + 8) {
    grid-column: auto /span 3;
}


/*RATING*/
.raiting_wrapper {
    flex: 20%;;
    align-self: flex-start;
    position: relative;

    min-height: 250px;
    background-color: #adadad;
    border-radius: 2px;
}

.raiting_wrapper h2 {
    color: #ff3300;
    font-size: 2em;
    font-weight: lighter;

    height: 50px;
    margin: 0 0 0 0;
    padding: 0 0 0 10px;
    /*outline: 1px black solid;*/
}

/* -------------------INPUT FOR RATING_-------------------------- */
.input_rating {
    position: absolute;
    top: 10%;
    right: 10%;
    /*outline: 1px black solid;*/
}
.input_rating_label{
    position: absolute;
    top: 10%;
    right: 17%;
    /*outline: 1px black solid;*/
}

.input_rating_label * {
    /*outline: 1px black solid;*/
    display: inline-block;
}

.input_rating:checked ~ .rating_list{
    flex-direction: column-reverse;
}

/**********************************INPUT FOR RATING_*********************************/
.rating_list {
    display: flex;
    flex-direction: column;

    margin: 20px 0 0 -20px;
    list-style-type: none;
}

.rating_list_item {
    width: 90%;
    font-size: 1.3em;
    padding: 10px 0 10px 0;
    /*outline: 1px black solid;*/
}

.rating_line_wrapper {
    /*outline: 1px black solid;*/

    text-align: right;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.rating_line {
    width: 100%;
    height: 20px;
}

.rating_line div {
    background-color: green;
    height: 20px;
    width: 0%;
}

.rating_num {
    /*width: ;*/
    font-weight: bold;
    text-align: center;
    margin-left: 5px;
    font-size: 1.5em;
}

.abissinskay_rating .rating_line_wrapper .rating_line div {
    width: 100%;
    background: linear-gradient(80deg, green, white);
}

.british_rating .rating_line_wrapper .rating_line div {
    width: 90%;
    background: linear-gradient(80deg, green, white);
}

.russian_blue_rating .rating_line_wrapper .rating_line div {
    width: 80%;
    background: linear-gradient(80deg, yellow, white);
}

.siamsky_rating .rating_line_wrapper .rating_line div {
    width: 40%;
    background: linear-gradient(80deg, red, white);
}

/*FOOTER FLEX EL*/
footer {
    flex: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px;
    align-content: center;

    font-size: 1.1em;
    /*outline: 1px black solid;*/
}


.company_address {
    display: flex;
    justify-content: center;
    align-items: center;

    /*outline: 1px black solid;*/

    padding: 0 0 0 0;
    color: #5f63cc;
}

.company_address p {
    width: 100%;
    padding-right: 10px;

    text-align: right;
    /*outline: 1px black solid;*/
}

.company_name p {
    width: 100%;
    padding-left: 10px;

    text-align: left;
    /*outline: 1px black solid;*/


}

.company_name {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: left;
    /*outline: 1px black solid;*/
    padding: 0 0 0 0;
}


/*Media*/
@media screen and (max-width: 700px) {
    .main_wrapper {
        flex-direction: column;
    }

    .raiting_wrapper {
        align-self: stretch;
        /*display: none;*/
        padding: 10px;
        order: 1;
        margin-bottom: 10px;
    }

    .images_wrapper {
        order: 3;
        margin: 0;
        padding: 0;
        grid-template-columns: 1fr 1fr;
    }

    .img_item_wrapper:nth-child(8n + 2) {
        grid-column: auto;
    }

    /*even sixth*/
    .img_item_wrapper:nth-child(8n + 6) {
        grid-column: auto;
    }

    /*even eighth elem*/
    .img_item_wrapper:nth-child(8n + 8) {
        grid-column: auto;
    }

    .breed {
        order: 2;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    footer {
        font-size: .5em;
    }
}