/*--------CSS для магазина котов-------- */

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font: 14px "Roboto", sans-serif;
}

.content {
    margin: 2em 2em;
}

.card {
    margin: 0 2em;
    width: 300px;
    display: inline-block;
    vertical-align: top;
}

.image_name {
    display: inline-block;
}

.image {
    display: table-cell;
    width: 300px;
    height: 350px;
    vertical-align: bottom;
}

.image img {
    max-width: 100%;
    max-height: 350px;
    vertical-align: bottom;
}

.name {
    white-space: nowrap;
    display: inline-block;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: blue;
    text-decoration: underline;
    font-size: 1.2em;
}

.category {
    color: darkgray;
    text-decoration: underline;
    font-size: .7em;
}

.current__price {
    font-weight: 900;
    font-size: 1.2em;
    color: crimson;
}

.old__price {
    font-size: .8em;
    color: rgba(39, 39, 39, 0.87);
    text-decoration: line-through;
}

.description {
    height: 350px;
}

/* Hover image and name styles */

.card:hover .image {
    opacity: .7;
}

.card:hover .name {
    color: #ff0000;
}

/* Checkbox style */

.check {
    padding-left: 3.2em;
}

.check__input {
    position: absolute;
    width: 1.1em;
    height: 1.1em;
    font-size: inherit;
    margin: 0 0 0 1.8em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    z-index: 2;
}

.check__box {
    position: absolute;
    margin-left: 1.8em;
    background-image: url("./images/checkbox-off.svg");
    width: 1.1em;
    height: 1.1em;
    z-index: 1;
}

.check__input:checked + .check__box {
    background-image: url("./images/checkbox-on.svg");
}

.check__input:focus + .check__box {
    background-image: url("./images/checkbox-off-focused.svg");
}

.check__input:checked:focus + .check__box {
    background-image: url("./images/checkbox-on-focused.svg");
}

/* Stars group */
.rating {
    margin: 0;
    padding: 0;
    border: 0;
}

.rating__group {
    position: relative;
    width: 10em;
    height: 2em;
    background-image: url(images/off.svg);
    background-size: 2em auto;
    background-repeat: repeat-x;
}

/* Star */
.rating__star {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    height: 2em;
    font-size: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-size: 2em auto;
    background-repeat: repeat-x;
}

.rating__star:focus {
    outline: none;
}

.rating__star:checked,
.rating__star:hover {
    background-image: url("./images/on.svg");
}

.rating__star:hover ~ .rating__star {
    background-image: url("./images/off.svg");
}

.rating__star:nth-of-type(1) {
    z-index: 10;
    width: 1em;
}

.rating__star:nth-of-type(2) {
    z-index: 9;
    width: 2em;
}

.rating__star:nth-of-type(3) {
    z-index: 8;
    width: 3em;
}

.rating__star:nth-of-type(4) {
    z-index: 7;
    width: 4em;
}

.rating__star:nth-of-type(5) {
    z-index: 6;
    width: 5em;
}

.rating__star:nth-of-type(6) {
    z-index: 5;
    width: 6em;
}

.rating__star:nth-of-type(7) {
    z-index: 4;
    width: 7em;
}

.rating__star:nth-of-type(8) {
    z-index: 3;
    width: 8em;
}

.rating__star:nth-of-type(9) {
    z-index: 2;
    width: 9em;
}

.rating__star:nth-of-type(10) {
    z-index: 1;
    width: 10em;
}

/* List view */

#list:checked ~ .card {
    display: table-row;
    width: 100%;
    column-count: 3;
}

#list:checked ~ .card .image {
    display: table-cell;
    text-align: center;
    width: 400px;
    height: 400px;
    vertical-align: top;
}

#list:checked ~ .card .column {
    display: table-cell;
    width: 500px;
    padding: 0 10px;
}

#list:checked ~ .card .column .name {
    display: table-cell;
    max-width: 500px;
}

#list:checked ~ .card .description {
    display: table-cell;
    padding: 0 40px 0 10px;
}